<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299605476659-ju1jedid7ql2bub6gtmss1mrsbgci9kl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299605476659-ju1jedid7ql2bub6gtmss1mrsbgci9kl</string>
	<key>API_KEY</key>
	<string>AIzaSyA1YU4U9sYzExjjHJoPZaXfof0tnQhZn1k</string>
	<key>GCM_SENDER_ID</key>
	<string>299605476659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nz.co.twodegrees.dataclock</string>
	<key>PROJECT_ID</key>
	<string>data-clock</string>
	<key>STORAGE_BUCKET</key>
	<string>data-clock.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299605476659:ios:00a7ad127fb23a4cd06a46</string>
	<key>DATABASE_URL</key>
	<string>https://data-clock.firebaseio.com</string>
</dict>
</plist>